.return-to-app {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 2;
}

.return-to-app .md-button--primary {
    background-color: var(--md-primary-fg-color);
    border-radius: 4px;
    color: var(--md-primary-bg-color);
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.return-to-app .md-button--primary:hover {
    background-color: var(--md-primary-fg-color--dark);
}